################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.vsidx
*.pubxml
*.suo
*.v2
*.wsuo
*.bin
/.vs
*.dockerignore
/Azure/ContendBasedRouting/FunctionApps/Properties
/Azure/ContendBasedRouting/LogicApp/bin/Debug/staging/ContentBasedRouting
/Azure/ContendBasedRouting/LogicApp/obj/Debug
